@model ProyectoDeInge.Models.ModeloIntermedioCambios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consultar Version</h2>

<div>
    <h4>Version @Html.DisplayFor(model => model.actual.VERSION_ID)</h4>
    <hr />
@**
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Autor")
        </dt>

        <dd>
            @Html.EditorFor(model => model.nombreCompleto, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
        </dd>

        <dt>
            @Html.DisplayName("Descripcion:")
        </dt>

        <dd>
            @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
        </dd>

        <dt>
            @Html.DisplayName("Fecha:")
        </dt>

        <dd>
            @Html.EditorFor(model => model.FECHA, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
        </dd>

        <dt>
            @Html.DisplayName("Justificacion:")
        </dt>

        <dd>
            @Html.EditorFor(model => model.JUSTIFICACION, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
        </dd>
    </dl>
    <hr />
*@
    <h4>Comparacion de Datos</h4>
    @*Tabla de REQ Actual y REQ viejo*@
    <table class="table">
        <tr>
            <th></th>
            <th>
                <div style="solid #fbb; text-align: center;">
                           Requerimiento Consultado
                </div>
            </th>
            <th>
                <div style="solid #fbb; text-align: center">
                        Requerimiento Actual
                </div>
            </th>
        </tr>
        @*ID de los requerimientos*@
        <tr>
            <th>
                ID
            </th>
            <th>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.consultado.ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.consultado.ID, "", new { @class = "text-danger" })
                </div>
            </th>
            <th>
                @Html.EditorFor(model => model.actual.ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.actual.ID, "", new { @class = "text-danger" })
            </th>
        </tr>

        @*Nombre de los requerimientos*@
        <tr>
            <th>
                Nombre
            </th>
            <th>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.consultado.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.consultado.NOMBRE, "", new { @class = "text-danger" })
                </div>
            </th>
            <th>
                @Html.EditorFor(model => model.actual.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.actual.NOMBRE, "", new { @class = "text-danger" })
            </th>
        </tr>
        @*Esfuerzo de los requerimientos*@
        <tr>
            <th>
                Esfuerzo
            </th>
            <th>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.consultado.ESFUERZO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.consultado.ESFUERZO, "", new { @class = "text-danger" })
                </div>
            </th>
            <th>
                @Html.EditorFor(model => model.actual.ESFUERZO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.actual.ESFUERZO, "", new { @class = "text-danger" })
            </th>
        </tr>
        @*Descripción de los requerimientos*@
        <tr>
            <th>
                Descripcion
            </th>
            <th>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.consultado.DESCRIPCION, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.consultado.DESCRIPCION, "", new { @class = "text-danger" })
                </div>
            </th>
            <th>
               @Html.EditorFor(model => model.actual.DESCRIPCION, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.actual.DESCRIPCION, "", new { @class = "text-danger" })
            </th>
        </tr>
        @*Prioridad de los requerimientos*@
        <tr>
            <th>
                Prioridad
            </th>
            <th>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.consultado.PRIORIDAD, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.consultado.PRIORIDAD, "", new { @class = "text-danger" })
                </div>
            </th>
            <th>
                @Html.EditorFor(model => model.actual.PRIORIDAD, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.actual.PRIORIDAD, "", new { @class = "text-danger" })
            </th>
        </tr>
        @*Observaciones de los requerimientos*@
        <tr>
            <th>
                Observaciones
            </th>
            <th>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.consultado.OBSERVACIONES, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.consultado.OBSERVACIONES, "", new { @class = "text-danger" })
                </div>
            </th>
            <th>
                @Html.EditorFor(model => model.actual.OBSERVACIONES, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.actual.OBSERVACIONES, "", new { @class = "text-danger" })
            </th>
        </tr>
        @*Módulo de los requerimientos*@
        <tr>
            <th>
                Modulo
            </th>
            <th>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.consultado.MODULO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.consultado.MODULO, "", new { @class = "text-danger" })
                </div>
            </th>
            <th>
                @Html.EditorFor(model => model.actual.MODULO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.actual.MODULO, "", new { @class = "text-danger" })
            </th>
        </tr>
        @*Fecha inicio de los requerimientos*@
        <tr>
            <th>
                Fecha de inicio
            </th>
            <th>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.consultado.FECHAINCIO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.consultado.FECHAINCIO, "", new { @class = "text-danger" })
                </div>
            </th>
            <th>
                @Html.EditorFor(model => model.actual.FECHAINCIO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.actual.FECHAINCIO, "", new { @class = "text-danger" })
            </th>
        </tr>
        @*Fecha finalización de los requerimientos*@
        <tr>
            <th>
                Fecha finalizacion
            </th>
            <th>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.consultado.FECHAFINAL, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.consultado.FECHAFINAL, "", new { @class = "text-danger" })
                </div>
            </th>
            <th>
                @Html.EditorFor(model => model.actual.FECHAFINAL, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.actual.FECHAFINAL, "", new { @class = "text-danger" })
            </th>
        </tr>
        @*Encargado de los requerimientos*@
        <tr>
            <th>
                Encargado
            </th>
            <th>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.consultado.ENCARGADO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.consultado.ENCARGADO, "", new { @class = "text-danger" })
                </div>
            </th>
            <th>
                @Html.EditorFor(model => model.actual.ENCARGADO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.actual.ENCARGADO, "", new { @class = "text-danger" })
            </th>
        </tr>
        @*Proyecto al que pertenecen los requerimientos*@
        <tr>
            <th>
                ID
            </th>
            <th>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.consultado.PRYCTOID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.consultado.PRYCTOID, "", new { @class = "text-danger" })
                </div>
            </th>
            <th>
                @Html.EditorFor(model => model.actual.PRYCTOID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.actual.PRYCTOID, "", new { @class = "text-danger" })
            </th>
        </tr>
        @*version de los requerimientos*@
        <tr>
            <th>
                Version
            </th>
            <th>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.consultado.VERSION_ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.consultado.VERSION_ID, "", new { @class = "text-danger" })
                </div>
            </th>
            <th>
               @Html.EditorFor(model => model.actual.VERSION_ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
               @Html.ValidationMessageFor(model => model.actual.VERSION_ID, "", new { @class = "text-danger" })
            </th>
        </tr>
        @*Estado de los requerimientos*@
        <tr>
            <th>
                Estado
            </th>
            <th>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.consultado.ESTADO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.consultado.ESTADO, "", new { @class = "text-danger" })
                </div>
            </th>
            <th>
                @Html.EditorFor(model => model.actual.ESTADO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.actual.ESTADO, "", new { @class = "text-danger" })
            </th>
        </tr>
        @*Sprint de los requerimientos*@
        <tr>
            <th>
                Sprint
            </th>
            <th>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.consultado.SPRINT, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.consultado.SPRINT, "", new { @class = "text-danger" })
                </div>
            </th>
            <th>
                @Html.EditorFor(model => model.actual.SPRINT, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.actual.SPRINT, "", new { @class = "text-danger" })
            </th>
        </tr>
    </table>
    @Html.ActionLink("Volver", "Requerimientos")
</p>
