@model ProyectoDeInge.Models.CambiosViewModel

@{
    ViewBag.Title = "IndexSolicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index Solicitudes de Cambios</h2>

<p>
    @Html.ActionLink("Agregar una nueva solicitud", "Create")
</p>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Requerimiento
        </th>
        <th>
            Fecha solicitud
        </th>
        <th>
            Solicitante
        </th>
        <th>
            Encargado revisión
        </th>
        <th>
            Versión
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.listaCambios)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REQUERIMIENTOS.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.USUARIOS.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.USUARIOS1.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NUEVO_VER_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REQUERIMIENTOS.ESTADO)
            </td>
            <td>
                @Html.ActionLink("Consultar", "DetallesSolicitud", new { id = item.ID })
            </td>
        </tr>
    }

</table>