@model IEnumerable<ProyectoDeInge.Models.REQUERIMIENTOS>

@{
    ViewBag.Title = "Versiones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Historial de Versiones</h2>

@*@using (Html.BeginForm())
    {
        <p>
            @Html.DropDownList("pro", null, htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
        </p>
    }*@

<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Estado de Versión
        </th>
        <th>
            Esfuerzo
        </th>
        <th>
            Descripción
        </th>
        <th>
            Prioridad
        </th>
        <th>
            Módulo
        </th>
        <th>
            Fecha de inicio
        </th>
        <th>
            Fecha de finalización
        </th>
        <th>
            Estado
        </th>
        <th>
            Encargado
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESTADO_CAMBIOS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESFUERZO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPCION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRIORIDAD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MODULO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHAINCIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHAFINAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESTADO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.USUARIOS.NOMBRE)
            </td>
            <td>
                @if (ViewBag.Permisos.Contains("20"))
                {
                    @Html.ActionLink("Consultar", "ConsultarVers", new { id = item.ID, version = item.VERSION_ID })    @*20*@
                }                      
            </td>
            <td>
                @if (ViewBag.Permisos.Contains("14"))
                {
                    @Html.ActionLink("Solicitar cambio", "Create", new { id = item.ID, version = item.VERSION_ID })     @*14*@
                }                
            </td>
        </tr>
                    }

</table>