<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Sistema de Administración de Requerimientos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<style type="text/css">
        #nav {width: 500px;margin: auto;}
        #nav ul {padding: 0;list-style: none;}
        #nav ul li {float: left;text-align: center;width: 120px;margin: 1px;}
        #nav ul li a {color: #fff;text-decoration: none;font-family: Calibri;background: #000;display: block;padding: 10px;}
        #nav ul li a:hover {background: #262525;color: #fff;}
        #nav ul li ul {display: none;}
        #nav ul li:hover ul {display:block;}
    </style>*@

</head>

<body>    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="#">Gestión</a>
                            <ul>                                
                                <li>@Html.ActionLink("Requerimientos", "Index", "Requerimientos")</li>
                                <li>@Html.ActionLink("Proyectos", "Index", "Proyectos")</li>
                                <li>@Html.ActionLink("Permisos", "Edit", "Roles")</li>                                    
                                <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                            </ul>
                        </li>
                    }
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema de Administración de Requerimientos</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
