@model ProyectoDeInge.Models.permiso2Viewmodel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestión de permisos</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <th></th>
            @foreach (var item in Model.Roles)
            {
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
            }
        </tr>
        @foreach (var item in Model.Permisos)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.NOMBRE)</td>                <!--el administrador siempre tiene todos los permisos asignados-->       <!--si el rol no tiene permisos para asignar permisos, es deshabilitado-->
                    <td><input class="asignaPermisos" type="checkbox" id="@item.ID" name="Administrador" value="@item.ID" checked disabled="@(!Model.verificaPermisos.Contains("18") ? "disabled":null)"/></td> 
                           
                @if (Model.Desa.PERMISOS.Contains(item)){       <!--si el rol desarrollador tiene el permiso actualmente, es marcado-->  <!--si el rol no tiene permisos para asignar permisos, es deshabilitado-->
                    <td><input class="asignaPermisos" type="checkbox" id="@item.ID" name="Desarrollador" value="@item.ID" checked disabled="@(!Model.verificaPermisos.Contains("18") ? "disabled":null)"/></td>
                }else{                                          
                    <td><input class="asignaPermisos" type="checkbox" id="@item.ID" name="Desarrollador" value="@item.ID" disabled="@(!Model.verificaPermisos.Contains("18") ? "disabled":null)"/></td>
                }

                @if (Model.Usuario.PERMISOS.Contains(item)){    <!--si el rol usuario tiene el permiso asignado, es marcado-->   <!--si el rol no tiene permisos para asignar permisos, es deshabilitado-->
                    <td><input class="asignaPermisos" type="checkbox" id="@item.ID" name="Usuario" value="@item.ID" checked disabled="@(!Model.verificaPermisos.Contains("18") ? "disabled":null)"/></td>
                }else{
                    <td><input class="asignaPermisos" type="checkbox" id="@item.ID" name="Usuario" value="@item.ID"  disabled="@(!Model.verificaPermisos.Contains("18") ? "disabled":null)"/></td>
                }
            </tr>
        }
    </table>
    <div class="form-group">
        <input type="submit" value="Aceptar" class="btn btn-default" disabled="@(!Model.verificaPermisos.Contains("18") ? "disabled":null)" />    <!--si el rol no tiene permisos para asignar permisos, es deshabilitado-->    
        <input type="submit" value="Cancelar" class="btn btn-default" onclick="goBack()" disabled="@(!Model.verificaPermisos.Contains("18") ? "disabled":null)" />
    </div>
}


<script type='text/javascript'>
   function goBack() {
       window.history.back();
       //Response.Redirect("~/Home");
   }
</script>
<script type="text/javascript">
    function chequeados() {

        return document.getElementsByClassName("asignaPermisos").checked;


    }
</script>
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
