@model ProyectoDeInge.Models.REQUERIMIENTOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>REQUERIMIENTOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESFUERZO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESFUERZO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMAGEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMAGEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRIORIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRIORIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OBSERVACIONES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OBSERVACIONES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODULO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAINCIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAINCIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAFINAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAFINAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROYECTO.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROYECTO.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIOS.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIOS.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
