@model IEnumerable<ProyectoDeInge.Models.REQUERIMIENTOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestión de requerimientos</h2>

<p>
    @Html.ActionLink("Agregar requerimiento", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        @Html.DropDownList("pro", null, htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()"})
    </p>
}
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Esfuerzo
        </th>
        <th>
            Descripción
        </th>
        <th>
            Prioridad
        </th>
        <th>
            Modulo
        </th>
        <th>
            Fecha de inicio
        </th>
        <th>
            Fecha de finalización
        </th>
        <th>
            Estado
        </th>
        <th>
            Encargado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESFUERZO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRIORIDAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODULO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHAINCIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHAFINAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIOS.NOMBRE)
        </td>
        <td>
            @Html.ActionLink("Consultar", "Unificado2", new { id = item.ID, version = item.VERSION_ID })

        </td>
    </tr>
}

</table>
