@model ProyectoDeInge.Models.ModeloIntermedio

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar Usuario</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => Model.modeloUsuario.CEDULA, "Cédula",  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.modeloUsuario.CEDULA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.modeloUsuario.CEDULA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.modeloUsuario.NOMBRE, "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.modeloUsuario.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.modeloUsuario.NOMBRE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.modeloUsuario.APELLIDO1, "Apellido 1", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.modeloUsuario.APELLIDO1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.modeloUsuario.APELLIDO1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => Model.modeloUsuario.APELLIDO2, "Apellido 2", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => Model.modeloUsuario.APELLIDO2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.modeloUsuario.APELLIDO2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.modeloCorreo.CORREO, "Correo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.modeloCorreo.CORREO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.modeloCorreo.CORREO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.modeloCorreo2.CORREO, "Correo 2",  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.modeloCorreo2.CORREO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.modeloCorreo2.CORREO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.modeloTelefono.NUMERO, "Teléfono",  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.modeloTelefono.NUMERO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.modeloTelefono.NUMERO, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => Model.modeloTelefono2.NUMERO, "Teléfono 2",  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.modeloTelefono2.NUMERO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.modeloTelefono2.NUMERO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aceptar" class="btn btn-default" />
                <input type="submit" value="Cancelar" class="btn btn-default" onclick="goBack()" />
            </div>
        </div>
    </div>
}
<!--
<div>
    Html.ActionLink("Back to List", "Index")
</div>-->
<script type='text/javascript'>
   function goBack() {
       window.history.back();
       //Response.Redirect("~/Home");
   }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
