@model ProyectoDeInge.Models.ModeloIntermedio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>USUARIOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.modeloUsuario.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modeloUsuario.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modeloUsuario.APELLIDO1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modeloUsuario.APELLIDO1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modeloUsuario.APELLIDO2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modeloUsuario.APELLIDO2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modeloTelefono.NUMERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modeloTelefono.NUMERO)
        </dd>
        

        <dd>
            @Html.DisplayFor(model => model.modeloTelefono2.NUMERO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.modeloCorreo.CORREO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.modeloCorreo.CORREO)
        </dd>
        

        <dd>
            @Html.DisplayFor(model => model.modeloCorreo2.CORREO)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.modeloUsuario.CEDULA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
