@model ProyectoDeInge.Models.ModeloIntermedio

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestión de Usuarios</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellido 1
        </th>
        <th>
            Apellido 2
        </th>
        <th>
            Cédula
        </th>
        <th>
            Teléfono
        </th>
        <th>
            Correo
        </th>
        <th>
            Proyecto
        </th>

    </tr>

    @for (int i = 0; i < Model.listaUsuarios.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.listaUsuarios.ElementAt(i).NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.listaUsuarios.ElementAt(i).APELLIDO1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.listaUsuarios.ElementAt(i).APELLIDO2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.listaUsuarios.ElementAt(i).CEDULA)
            </td>
            <td>
                @for (int j = 0; j < Model.listaTelefonos.Count; j++)
                {
                    if (Model.listaUsuarios.ElementAt(i).CEDULA.Equals(Model.listaTelefonos.ElementAt(j).CEDULA))
                    {
                        @Html.DisplayFor(modelItem => Model.listaTelefonos.ElementAt(j).NUMERO)<br>
                    }
                }
            </td>
            <td>
                @for (int j = 0; j < Model.listaCorreos.Count; j++)
                {
                    if (Model.listaUsuarios.ElementAt(i).CEDULA.Equals(Model.listaCorreos.ElementAt(j).CEDULA))
                    {
                        @Html.DisplayFor(modelItem => Model.listaCorreos.ElementAt(j).CORREO)<br>
                    }
                }
            </td>
            <td>
                @for (int j = 0; j < Model.listaProyecto.Count; j++)
                {
                    if (Model.listaUsuarios.ElementAt(i).PRYCTOID != null)
                    {
                        if (Model.listaUsuarios.ElementAt(i).PRYCTOID.Equals(Model.listaProyecto.ElementAt(j).ID)) 
                        { 
                            @Html.DisplayFor(modelItem => Model.listaProyecto.ElementAt(j).NOMBRE)
                         @Html.Raw(" ")
                        }
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.listaUsuarios.ElementAt(i).CEDULA }) |
                @Html.ActionLink("Details", "Details", new { id = Model.listaUsuarios.ElementAt(i).CEDULA }) |
                @Html.ActionLink("Unificado", "Unificado", new { id = Model.listaUsuarios.ElementAt(i).CEDULA }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.listaUsuarios.ElementAt(i).CEDULA })
            </td>
        </tr>
    }
</table>


