@model ProyectoDeInge.Models.ModeloIntermedio
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

@{
    ViewBag.Title = "Unificado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

    function esconderEliminar()
    {
        $('.elementoModificar').find('input, textarea, select').attr('readonly', false);
        $('.ocultar').children().attr('disabled', true);
        $('.ocultar2').show();
    }

    function confirmarEliminar(cedula) {

        var respuesta = confirm('Confirma que desea eliminar a esta persona del sistema?');

        if (respuesta == true)
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("eliminarPersona")',
                data: 'id=' + cedula,
                success: function (result) {
                    if (result.success)
					{
						alert('Persona eliminada con éxito');
						var url = '@Url.Action("Index", "USUARIOS")';
						window.location.href = url;
					}
                },
            });
        }
    }

</script>
<h2>Gestión de Usuarios</h2>
<div class="ocultar">
    <a class="btn btn-default" onclick="esconderEliminar()">Modificar</a>
    <a class="btn btn-default" onclick="confirmarEliminar('@(Model.modeloUsuario.CEDULA)')">Eliminar</a>
</div>
<div class="elementoModificar">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.modeloUsuario.CEDULA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.modeloUsuario.CEDULA, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled"} })
                    @Html.ValidationMessageFor(model => model.modeloUsuario.CEDULA, "", new { @class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.modeloUsuario.NOMBRE, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.modeloUsuario.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly"} })
                    @Html.ValidationMessageFor(model => model.modeloUsuario.NOMBRE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.modeloUsuario.APELLIDO1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.modeloUsuario.APELLIDO1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.modeloUsuario.APELLIDO1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.modeloUsuario.APELLIDO2, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.modeloUsuario.APELLIDO2, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.modeloUsuario.APELLIDO2, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.modeloTelefono.NUMERO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.modeloTelefono.NUMERO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.modeloTelefono.NUMERO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.modeloTelefono2.NUMERO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.modeloTelefono2.NUMERO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.modeloTelefono2.NUMERO, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.modeloAsp.AspNetRoles.First().Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.modeloAsp.AspNetRoles.First().Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.modeloAsp.AspNetRoles.First().Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.modeloCorreo.CORREO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.modeloCorreo.CORREO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.modeloCorreo.CORREO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.modeloCorreo2.CORREO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.modeloCorreo2.CORREO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.modeloCorreo.CORREO, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.modeloUsuario.CEDULA)
            @Html.HiddenFor(model => model.modeloUsuario.ID_ASP)
            <div class="ocultar2" style="display:none">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Aceptar" class="btn btn-default" />
                        <a class="btn btn-default" onclick="window.location = '@Url.Action("Unificado", new { id = Model.modeloUsuario.CEDULA })';">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>