@model ProyectoDeInge.Models.ProyectosViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar proyecto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.modeloProyecto.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modeloProyecto.FECHAINICIO)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.modeloProyecto.ESTADO)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.listaProyectos)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHAINICIO)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ESTADO)
            </td>
            <td>
                @Html.ActionLink("Consultar", "Unificado", new { id = item.ID })
            </td>
        </tr>
    }
</table>
