@model ProyectoDeInge.Models.ProyectosViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*-----Toastr-----*@
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/toastr.js"></script>
<link href="~/Content/toastr.css" rel="stylesheet" />

@*-----SweetAlert-----*@
<script src="~/Scripts/sweet-alert.js"></script>
<link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />

<h2>Gestión de Proyectos</h2>
@{ 
    if ((string)TempData["exito"] == "exito") {
        Response.Write("<Script>alert('Proyecto modificado exitosamente')</Script>");
    }
}
<p>
    @{
        if (Model.verificaPermisos.Contains("06"))
        {
            @Html.ActionLink("Agregar proyecto", "Create")
        }/*else{ }*/
    }

@*Filtro de búsqueda*@
    @using (Html.BeginForm())
    {
    <p>
        Buscar: @Html.TextBox("buscar", ViewBag.filtro as string)
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </p>
    }

</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Fecha de inicio
        </th>
        <th>
            Fecha de finalización
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.listaProyectos)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHAINICIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHAFINAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESTADO)
            </td>
            <td>
                @{if (Model.verificaPermisos.Contains("07"))
                    {
                        @Html.ActionLink("Consultar", "Unificado", new { id = item.ID })
                    }
                }                
            </td>
        </tr>
    }
</table>

<script>
    $(document).ready(function () {
        //notificaciones de error y éxito
        if ('@TempData["Create"]' == "Exito") {
            toastr.success('Proyecto creado exitosamente.', 'EXITO', {
                positionClass: "toast-bottom-right"
            });
        }
    });
</script>